body { margin: 0; padding: 0; font-family: 'Open Sans',sans-serif;
  font-weight: 400 ;overflow: hidden}

#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100% }

/* LEGEND */
.legend {
background-color: #fff;
border-radius: 3px;
bottom: 40px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
font: 16px/20px 'Open Sans', sans-serif;
padding: 10px;
position: absolute;
right: 10px;
width: 10%;
}

.legend div span {
border-radius: 150%;
display: inline-block;
height: 15px;
margin-right: 5px;
width: 15px;
}

h1 {
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  line-height: 30px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}


p {
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

#console {
  position: absolute;
  width: 25%;
  height: 100%;
  padding: 10px 20px;
  opacity: 95%;
  overflow-y: auto;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.absolute {
    position: center!important;
}
.round {
    border-radius: 15px!important;

}
.toggle {
  flex-shrink: 0;
  cursor: pointer;
  color: #757d82;
  font-size: 14px;
  padding: 5px 18px;
  border-radius: 15px;
  background-color: transparent;
  transition: color .125s,background-color .125s;
}

  .toggle-container {
    max-width: 95%;

}
input:checked+.toggle {
    background: #757d82;
    color: #fff;

}
.toggle-group {
    display: inline-flex;
    text-align: center;
    border-radius: 18px;
}
